<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372888862957-k9fjb1a4im18uldfrl1jt3sa2bojuufg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372888862957-k9fjb1a4im18uldfrl1jt3sa2bojuufg</string>
	<key>API_KEY</key>
	<string>AIzaSyB-1KYzP4iSMn96xZGK0NxedBt5DS89Opk</string>
	<key>GCM_SENDER_ID</key>
	<string>372888862957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ivo.Seedlinks</string>
	<key>PROJECT_ID</key>
	<string>seedlinks-67e57</string>
	<key>STORAGE_BUCKET</key>
	<string>seedlinks-67e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372888862957:ios:b00584b6632f3fe1ef8ce4</string>
</dict>
</plist>